<div class="flex-row">
  <div fxFlex="50"></div>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="asi-container">
        <asi-input-icon icon="fa-user" label="page.login.form.email" iconPosition="right" formControlName="email"></asi-input-icon>
        <error-messages forName="email">
          <message error="email" value="validations.email"></message>
          <message error="required" value="validations.required" onSubmit="true"></message>
        </error-messages>
      </div>
      <div class="asi-container">
        <asi-input-icon icon="fa-lock" label="page.login.form.password" type="password" iconPosition="right" formControlName="password"></asi-input-icon>
        <error-messages forName="password">
          <message error="required" value="validations.required" onSubmit="true"></message>
        </error-messages>
      </div>
      <div fxLayout="row">
        <asi-button type="submit">Submit</asi-button>
      </div>
    </form>
  </div>

</div>
